<head>
<style>
.userwarpper{
margin-top: 50px;
}
</style>
</head>

<center>
<h1>ADD USER</h1>
<div class="userwarpper">
	<form method="post" action="/save">
		<table>
			<tr>
				<td>USERNAME</td>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<td>ADRESS</td>
				<td><input type="text" name="addr"></td>
			</tr>
			<tr>
				<td>EMAIL</td>
				<td><input type="text" name="email"></td>
			</tr>
			<tr>
				<td></td>
				<td style="text-align: center"><input type="submit"></td>
			</tr>

		</table>
	</form>
</div>
</center>